.header__lang-link {
	color: #fff;
  margin-right: 18px;
	text-decoration: none;
}

.header__lang-link:last-of-type {
  margin: 0;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.header__lang-link:not(:last-of-type) {
	text-decoration: underline;	
}