.page {
  min-width: 320px;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #2A2C2F;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
