.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:16px;
  justify-content: center;
  padding: 0 48px 92px;
  max-width: 1184px;
}

@media screen and (max-width: 1205px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap:14px;
  }
}

@media screen and (max-width: 948px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 0 24px 88px;
  }
}


@media screen and (min-width: 612px) and (max-width: 741px)  {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 612px) {
  .photo-grid {
    grid-template-columns: calc(100vw - 32px);
    row-gap: 12px;
    padding: 0 16px 64px;
  }
}
