.cover__subtitle {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  text-align: center;
  max-width: 360px;
  }

@media screen and (max-width: 720px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}
