.header {
  display: flex;
  color: #fff;
  min-height: 52px;
  padding: 28px 48px 56px;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1184px;
}

@media screen and (max-width: 1025px) {
  .header {
    padding: 28px 48px 48px;
 }
}

@media screen and (max-width: 769px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 720px) {
  .header {
    min-height: 42px;
    padding: 16px 16px 48px;
  }
}
