.lead__title {
  margin:0;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
  padding-bottom: 32px;
  max-width: 720px;
}

@media screen and (max-width:720px){
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    padding-bottom: 16px;
    max-width: 288px;
  }
}
