.footer__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 720px) {
  .footer__links {
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
		margin: 0px 0 46px 0;
  }
}
