.place__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.63;
  margin: 0;
  padding-bottom: 26px;
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media screen and (max-width: 850px) {
  .place__paragraph {
    font-size: 16px;
    padding-bottom: 25px;
  }
}
