.lead__image {
  margin: 0;
  padding: 0;
  max-width: 984px;
}

@media screen and (max-width: 1025px){
  .lead__image{
    max-width: 928px;
  }
}

@media screen and (max-width: 948px) {
  .lead__image{
    width: 100%;
  }
}
