.intro__text {
  margin: 0;
  padding-bottom: 33px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
  max-width: 690px;
}

@media screen and (max-width: 929px) {
  .intro__text{
    max-width: 720px;
  }
}
