.lead__subtitle {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 64px;
  max-width: 640px;
}

@media screen and (max-width:1025px)
{
  .lead__subtitle {
    padding-bottom: 56px;
  }
}
@media screen  and (max-width: 720px){
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 40px;
    max-width: 288px;
  }
}
