.lead__caption {
  align-self: flex-start;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  padding-top: 8px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

@media screen and (max-width:948px){
  .lead__caption{
    padding-left: 24px;
  }
}

@media screen and (max-width:321px){
  .lead__caption{
    padding-left: 16px;
  }
}
