.place {
  margin: 0;
  padding: 0;
  color: #fff;
  display: grid;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-columns: 460px minmax(min-content,max-content);
}

@media screen and (max-width:1025px)
{
.place {
  grid-template-columns: 440px minmax(min-content,max-content);
  column-gap: 32px;
}
}

@media screen and (max-width:870px)
{
.place {
  grid-template-columns: 340px minmax(min-content,max-content);
}
}

@media screen and (max-width:660px)
{
.place {
  grid-template-columns: minmax(min-content,max-content);
  justify-items: center;
}
}

@media screen and (max-width:660px) and (max-height: 321px)
{
.place {
  grid-template-columns: 320px;
}
}
