.header__lang-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0px 0px 5px 0;
  font-size: 24px;
  font-style:  normal;
  font-weight: 400;
  line-height: 1.17;
}

@media screen and (max-width:720px) {
  .header__lang-links {
    font-size: 18px;
    line-height: 1.11;
		padding: 0px 0px 8px 0;
  }
}

